@font-face {
    font-family: mainFont;
    src: url("../fonts/Wellfleet-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: headerFont;
    src: url("../fonts/Isometra-Regular.ttf") format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mainFont", sans-serif;
    
}

.layout-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 0 0 200px;
    background-color: #00b1b4;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-logo {
    font-family: "headerFont", sans-serif;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    background-color:#00b1b4;
}

.sidebar-menu a {
    display: block;
    color: #fff5db;
    text-decoration: none;
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: 6px;
    transition: 0.3s;
    background-color: #00b1b4;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
    background-color: #26F7FD;
}
